
@{
    ViewBag.Title = "Thông tin xe làm dịch vụ";
}

<div class="page-header">
    <h1>

        @ViewBag.Title (<span id="spCount">0</span>)
    </h1>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "frmService" }))
{
    @Html.Hidden("AreaCode", (string)ViewBag.AreaCodeValue)

    <div class="row">
        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">
            Từ khóa
            <input type="text" name="key" value="@ViewBag.keyValue" placeholder="Biển số|Loại hàng..." class="form-control" />
        </div>

        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">

            <span class="lbl">Tổ </span>
            @await Component.InvokeAsync("ChosenSelect", ViewBag.Groups)

        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <br />
            <button class="btn btn-white btn-primary btnSearch"><i class="fa fa-search" aria-hidden="true"></i> @await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:SEARCH" }) </button>
            <a href='@Url.Action("Index", "Home",new { AreaCode = ViewBag.AreaCodeValue })' class="btn btn-primary btn-white" type="submit">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                Reset
            </a>
         

        </div>
    </div>
}



<div class="hr hr-18 dotted hr-24"></div>

<div class="row" id="boxTable">

</div>


@section scripts{
   
    @*<script src="~/modules/HomeController.js"></script>*@
    <script>
        function PartialService(page) {

            var obj = {
                key: $("input[name=key]").val(),
                Groupid: $("#GroupId").val(),
                page: page
            };

            JSHelper.AJAX_LoadDataPOST('/Admin/Home/Partial_Data', obj)
                .done(function (data) {
                    $('#boxTable').html('');
                    $('#boxTable').html(data);

                    $("#spCount").text($("#totalCount").val());
                });
        };
     
        $(document).ready(function () {
            PartialService(1);
            $('body').on('click', '#pagService li a', function () {
                var cmd = $(this);
                var _page = cmd.attr('idata');

                PartialService(_page);

                return false;
            });
            $('body').on('click', '.btnSearch', function () {
                PartialService(1);
            });

        });
    </script>
}