
@{
    ViewBag.Title = "Điều phối tổ thực hiện dịch vụ";
}

<div id="boxModal">

</div>

<div class="row">
    <div class="col-xs-7" >
        <h3 class="header smaller lighter blue">Danh sách chưa phân tổ</h3>
        <div style="height:700px;overflow:auto">
            <table class="table  table-bordered table-hover" id="tblVehicle">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>

                        <th class="text-center">
                            Xe VN
                        </th>
                        <th class="text-center">
                            Xe CN
                        </th>
                        <th class="text-center">Mã dịch vụ</th>
                        <th class="text-center">Dịch vụ</th>

                        <th class="text-center">Phân tổ</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
       
    </div>

    <div class="col-xs-5">
        <h3 class="header smaller lighter blue">Danh sách tổ thực hiện dịch vụ</h3>
        <div style="height:700px;overflow:auto">
            <table class="table  table-bordered table-hover" id="tblGroup">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tổ thực hiện</th>

                        <th class="text-center">
                            Số lượng dịch vụ
                        </th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
      
    </div>
</div>


@section scripts{
    <script src="~/modules/ServiceController.js"></script>
    <script src="~/modules/Signalr.js"></script>
    <script>
        $(document).ready(function () {
            ServiceController.PartialVehicle();

            ServiceController.PartialGroup();
        });
    </script>
}